@import '../../styles/imports'

.inputWrapper
  position: relative
  color: $white
  font-family: Roboto, sans-serif

  .clearIcon
    position: absolute
    right: 8px
    top: 50%
    transform: translateY(-50%)
    border: none
    background: transparent
    cursor: pointer
    color: $white
    opacity: .5
    transition: opacity .2s ease-in-out

    &:hover
      opacity: 1

  .input
    border: 2px solid $alphaWhite50
    background: transparent
    padding: 10px 15px
    outline: none
    border-radius: $borderRadiusS
    color: $white
    transition: border-color .3s ease-in-out
    width: 200px
    box-sizing: border-box

    &:hover
      border-color: $alphaWhite80

      & ~ .label
        color: $alphaWhite80

    &:focus, &.isFilled
      border-color: $alphaWhite80

      & ~ .label
        left: 15px
        top: 0
        color: $alphaWhite80
        padding: 0 5px
        font-size: 10px

  .label
    font-size: 12px
    position: absolute
    background: $blue800
    top: 50%
    left: 15px
    transform: translateY(-50%)
    padding: 0
    color: $alphaWhite50
    pointer-events: none
    transition: all .3s ease-in-out