@use '../../styles' as *
@use 'sass:color'

.content
  margin-bottom: 35px

  .contactsInner
    max-width: $breakpointM
    margin: -$contactsOverflow auto 0 auto
    display: flex
    align-items: start
    gap: 18px


// ContactInfo

.contactInfoWrapper
  @include box-shadow
  width: 330px
  background: $white
  border-radius: $borderRadiusS
  padding: 2px 2px 16px 2px
  font-family: Roboto, sans-serif

  .pictureWrapper
    max-height: 200px

    img
      height: 100%
      width: 100%
      object-fit: cover

  .nameWrapper
    width: 100%
    text-align: center
    padding: 16px
    font-size: 24px
    box-sizing: border-box

  .detailsWrapper
    color: $alphaBlack54
    font-size: 14px
    display: grid
    grid-template-columns: 2fr 3fr
    grid-gap: 5px 38px

    span:nth-child(odd)
      text-align: right

    a
      color: $blue500
      text-decoration: underline

  .clearIcon
    width: 20px
    height: 20px
    border: none
    display: flex
    align-items: center
    justify-content: center
    background: color.scale($blue500, $lightness: 50%)
    color: $white
    cursor: pointer
    transition: background .2s ease-in-out
    position: absolute
    right: 5px
    top: 5px
    border-radius: $borderRadiusS

    &:hover
      background: color.scale($blue500, $lightness: 20%)