// BREAKPOINTS

$breakpointM: 1200px
$breakpointS: 900px


// COLORS

$blue900: #0D47A1
$blue800: #1565C0
$blue500: #2196F3
$blue100: #0060A8
$green: #1DE9B6

$white: #FFFFFF
$white100: #F9FAFB
$black: #000000

$alphaBlack87: rgba($black, .87)
$alphaBlack54: rgba($black, .54)
$alphaBlack12: rgba($black, .12)


// BORDER RADIUS

$borderRadiusS: 4px