@use '../../styles' as *

.selectWrapper
  position: relative
  color: $white
  font-family: Roboto, sans-serif

  .caretSvg
    position: absolute
    right: 15px
    top: 50%
    transform: translateY(-50%)
    opacity: 0.5
    transition: all .3s ease-in-out
    pointer-events: none

  .input
    border: 2px solid $alphaWhite50
    background: transparent
    padding: 10px 30px 10px 15px
    outline: none
    border-radius: $borderRadiusS
    color: $white
    transition: border-color .3s ease-in-out
    width: 200px
    box-sizing: border-box

    &.isOpen
      border-radius: $borderRadiusS $borderRadiusS 0 0

    &:hover
      border-color: $alphaWhite80

      & ~ .label
        color: $alphaWhite80

      & ~ .caretSvg
        opacity: 1

    &:focus, &.isFilled, &.isOpen
      border-color: $alphaWhite80

      & ~ .caretSvg
        opacity: 1
        transform: rotate(180deg) translateY(50%)

      & ~ .label
        left: 15px
        top: 0
        color: $alphaWhite80
        padding: 0 5px
        font-size: 10px

    &.isFilled
      & ~ .caretSvg
        display: none

  .clearIcon
    position: absolute
    right: 8px
    top: 50%
    transform: translateY(-50%)
    border: none
    background: transparent
    cursor: pointer
    color: $white
    opacity: .5
    transition: opacity .2s ease-in-out

    &:hover
      opacity: 1

  .label
    font-size: 12px
    position: absolute
    background: $blue800
    top: 50%
    left: 15px
    transform: translateY(-50%)
    padding: 0
    color: $alphaWhite50
    pointer-events: none
    transition: all .3s ease-in-out

  .optionsWrapper
    @include box-shadow
    position: absolute
    top: 37px
    width: 100%
    z-index: 10
    border: 2px solid $alphaWhite80
    border-top: none
    border-radius: 0 0 $borderRadiusS $borderRadiusS
    box-sizing: border-box
    display: flex
    flex-direction: column
    background: $blue500
    overflow-y: auto
    max-height: 150px

    .noOptions
      font-size: 12px
      color: $alphaWhite80
      display: flex
      align-items: center
      justify-content: center
      height: 30px

    button
      padding: 10px 15px
      cursor: pointer
      color: $white
      text-align: left
      border: none
      background: transparent
      transition: background .2s ease-in-out

      &:hover
        background: $alphaBlack12
