@import '../../styles/imports'

.tableWrapper
  @include box-shadow
  width: 100%
  max-width: $breakpointS
  color: $alphaBlack87
  border-radius: $borderRadiusS
  overflow: hidden
  background: $white
  font-family: Roboto, sans-serif
  font-size: 14px

  thead
    background: $blue500
    text-align: left
    color: $white

  .col
    padding: 16px

  .row
    box-shadow: inset 0px -1px 0px 0px $alphaBlack12

