@import '../../styles/imports'

.tableWrapper
  @include box-shadow
  width: 100%
  max-width: $breakpointS
  color: $alphaBlack87
  border-radius: $borderRadiusS
  overflow: hidden
  background: $white
  font-family: Roboto, sans-serif
  font-size: 14px

  button.sortButton
    background: transparent
    border: none
    padding: 0
    color: $white
    cursor: pointer
    display: flex
    align-items: center
    gap: 5px

  thead
    background: $blue500
    text-align: left
    color: $white

    svg
      color: $white !important

  .cell
    position: relative

    &:not(.header)
      padding: 0 16px
      height: 50px

    &.header
      button, span
        padding: 0 16px
        height: 50px
        width: 100%

    &:not(:first-child)
      &:before
        content: "|"
        display: block
        position: absolute
        z-index: 999
        left: -2px
        top: 50%
        transform: translateY(-50%)
        color: rgba($blue100, 0.15)

      &.header:before
        color: $white

    svg
      color: $alphaBlack54

  tbody
    .row
      box-shadow: inset 0px -1px 0px 0px $alphaBlack12
      transition: background .2s ease-in-out
      cursor: pointer

      &:hover
        background: rgba($blue500, 0.1)

  // ManageColsBtn
  .buttonWrapper
    width: 50px
    padding: 0
    position: relative

    button
      border: none
      background: transparent
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      transition: background .2s ease-in-out
      cursor: pointer

      svg
        transition: color .2s ease-in-out

      &:hover, &.isActive
        background: $white
        svg
          color: $blue500 !important

  .manageColsWrapper
    @include box-shadow
    background: $white
    position: absolute
    right: 0
    z-index: 10
    margin: 0
    padding: 0
    list-style-type: none
    min-width: 150px

    li
      color: $alphaBlack87

      label
        display: flex
        gap: 5px
        align-items: center
        padding: 13px
        cursor: pointer
        border-top: 1px solid $alphaBlack12

        &:hover
          background: rgba($blue500, 0.05)
