@import '../../styles/imports'

.filterBarWrapper
  background: $blue800
  padding: 45px 0 calc(45px + $contactsOverflow) 0

  .inner
    max-width: $breakpointM
    margin: 0 auto
    display: flex
    align-items: center
    gap: 14px

  .showActiveLabel
    color: $white
    font-family: Roboto, sans-serif
    font-size: 13px
    display: flex
    align-items: center
    gap: 10px

  .filterButton
    margin-left: 25px